PORT=3001
DB_HOST=tu-host-mysql.aivencloud.com
DB_PORT=12345
DB_USER=avnadmin
DB_PASSWORD=tu_password
DB_NAME=defaultdb
DB_SSL=true
DB_SSL_MODE=REQUIRED
DB_SSL_REJECT_UNAUTHORIZED=true
DB_SSL_CA=
JWT_SECRET=super_clave_secreta_jwt
JWT_EXPIRES_IN=2h
