PORT=3002
DB_HOST=mysql-xxxxx.aivencloud.com
DB_PORT=17888
DB_USER=avnadmin
DB_PASSWORD=tu_password
DB_NAME=backend_api
DB_SSL=true
DB_SSL_MODE=REQUIRED
DB_SSL_REJECT_UNAUTHORIZED=true
DB_SSL_CA=
JWT_SECRET=super_clave_secreta_jwt
JWT_EXPIRES_IN=2h
SUPER_ADMIN_EMAIL=superadmin@correo.com
SUPER_ADMIN_PASSWORD=123456




